<div class="main-container">
	<table>
		<tr>
			<td><label>COUNT </label></td> <td><input type="number" min="0" [(ngModel)]="countOfCircle" (keyup)="inputChanged($event)" required></td>
 </tr>
 <tr>
  <td><label>SELECTED </label></td> <td><input type="number" min="0" [(ngModel)]="noSelected" (keyup)="inputChanged($event)" required></td>
  </tr>
  <tr>
  <td><label>RADIUS </label></td> <td><input  type="number" min="0" [(ngModel)]="radiusValue" (keyup)="inputChanged($event)" required></td>
  </tr>
 </table>
<div>

  <div class="circleContainer">
      <span (click) = "circleClicked(ele)" *ngFor ="let ele of selected" class="dot" [ngClass]="{'dot-selected': ele.isSelected===true}" [ngStyle]= "getExpression()" ></span>
  </div>
</div>
</div>